<div class="TomatoTimer"
     v-bind:class="clientConfig.timerSize">
  <youtube-player 
    ref="BGMPlayer" 
    v-bind:youtubeURL="syncConfig.musicURL"
    v-bind:display="false"
    v-bind:volume="BGMVolume"
    v-bind:isPause="isBGMPlayerPause"
    ></youTube-player>
  <div class="container">
    <div class="setters"
         v-if="(isStarted === false)">
      <div class="minutes-set">
        <button data-setter="minutes-plus" ref="DataSetterButtons" v-on:click="onSetterButtonClick">+</button>
        <button data-setter="minutes-minus" ref="DataSetterButtons" v-on:click="onSetterButtonClick">-</button>
      </div>
      <div class="seconds-set">
        <button data-setter="seconds-plus" ref="DataSetterButtons" v-on:click="onSetterButtonClick">+</button>
        <button data-setter="seconds-minus" ref="DataSetterButtons" v-on:click="onSetterButtonClick">-</button>
      </div>
    </div>
    <div class="circle"> 
      <svg width="250" viewBox="0 0 220 220" xmlns="http://www.w3.org/2000/svg">
        <g transform="translate(110,110)">
          <circle r="100" class="e-c-base" v-bind:class="{
              'is-playing': isPlaying
           }" />
          <g transform="rotate(-90)">
            <circle r="100" class="e-c-progress" ref="Progress" v-bind:class="{
              'is-playing': isPlaying
           }" />
            <g id="e-pointer">
              <circle cx="100" cy="0" r="8" class="e-c-pointer" ref="Pointer"v-bind:class="{
              'is-playing': isPlaying
           }" />
            </g>
          </g>
        </g>
      </svg> 
    </div>
    <div class="controlls">
      <div class="display-remain-time" 
           ref="DisplayRemainTime"
           v-on:click="playOrPauseTimer">00:25</div>
      
      <a class="mute-controller" 
         v-bind:href="syncConfig.musicURL"
         target="bgm">
        <i class="music icon"></i>
      </a>
      
      <div class="mute-controller" 
           v-on:click="isVolumeMute = !isVolumeMute">
        <i class="volume up icon" v-if="isVolumeMute === false"></i>
        <i class="volume off icon" v-if="isVolumeMute === true"></i>
      </div>
      
      <button type="button" class="play" id="pause" ref="Pause" v-on:click="playOrPauseTimer"></button>
      <button type="button" class="reset" v-on:click="resetTimer" v-if="isPaused"></button>
      <div class="volume-container">
        <input type="range" min="0" max="100" v-model="BGMVolume"
               ref="VolumeSlider"/>
        <!--
        <div class="mute-controller" 
             style="visibility: hidden;"
             v-on:click="isVolumeMute = !isVolumeMute">
          <i class="volume up icon" v-if="isVolumeMute === false"></i>
          <i class="volume off icon" v-if="isVolumeMute === true"></i>
        </div>
        <input type="range" min="0" max="100" v-model="BGMVolume"
               v-on:change="isVolumeMute = false"
               ref="VolumeSlider"/>
        <div class="mute-controller" 
             v-on:click="isVolumeMute = !isVolumeMute">
          <i class="volume up icon" v-if="isVolumeMute === false"></i>
          <i class="volume off icon" v-if="isVolumeMute === true"></i>
        </div>
        -->
      </div>
    </div>
    
  </div>
</div>