<div class="TomatoTimer"
     v-bind:class="clientConfig.timerSize">
  <youtube-player 
    ref="BGMPlayer" 
    v-if="isYouTubePlayer"
    v-bind:youtubeURL="syncConfig.musicURL"
    v-bind:display="false"
    v-bind:volume="BGMVolume"
    v-bind:isPause="isBGMPlayerPause"
    v-bind:isMute="isBGMPlayerPause"
    v-bind:videoStart="syncConfig.musicVideoStart"
    v-bind:videoEnd="syncConfig.musicVideoEnd"
    v-show="clientConfig.displayVideo"
    ></youTube-player>

  <HTMLVideoPlayer 
    ref="HTMLVideoPlayer"
    v-if="isHTMLVideoPlayer"
    :syncConfig="syncConfig"
    :clientConfig="clientConfig"
    v-show="clientConfig.displayVideo">
  </HTMLVideoPlayer>
  
  <div class="container">
    <div class="setters"
         v-if="(isStarted === false)">
      <div class="minutes-set">
        <button data-setter="minutes-plus" ref="DataSetterButtons" v-on:click="onSetterButtonClick">+</button>
        <button data-setter="minutes-minus" ref="DataSetterButtons" v-on:click="onSetterButtonClick">-</button>
      </div>
      <div class="seconds-set">
        <button data-setter="seconds-plus" ref="DataSetterButtons" v-on:click="onSetterButtonClick">+</button>
        <button data-setter="seconds-minus" ref="DataSetterButtons" v-on:click="onSetterButtonClick">-</button>
      </div>
    </div>
    <div class="circle"> 
      <svg width="250" viewBox="0 0 220 220" xmlns="http://www.w3.org/2000/svg">
        <g transform="translate(110,110)">
          <circle r="100" class="e-c-base" v-bind:class="{
              'is-playing': isPlaying
           }" />
          <g transform="rotate(-90)">
            <circle r="100" class="e-c-progress" ref="Progress" v-bind:class="{
              'is-playing': isPlaying
           }" />
            <g id="e-pointer">
              <circle cx="100" cy="0" r="8" class="e-c-pointer" ref="Pointer"v-bind:class="{
              'is-playing': isPlaying
           }" />
            </g>
          </g>
        </g>
      </svg> 
    </div>
    <div class="controlls">
      <div class="display-remain-time" 
           ref="DisplayRemainTime"
           v-on:click="playOrPauseTimer">00:25</div>
      <div class="controller"
      v-bind:class="{isPaused: isPaused}">
        <a class="button play-controller" 
           v-bind:href="syncConfig.musicURL"
           v-bind:title="musicTitle"
           v-on:click="openMusicPlaylist"
           target="bgm">
          <i class="music icon"></i>
        </a>

        <span class="button copy-controller" 
           v-bind:title="musicTitle"
           v-on:click="copyMusicURL">
          <i class="copy icon"></i>
        </span>

        <div class="button mute-controller" 
             v-on:click="isVolumeMute = !isVolumeMute">
          <i class="volume up icon" v-if="isVolumeMute === false"></i>
          <i class="volume off icon" v-if="isVolumeMute === true"></i>
        </div>
        
        <br />

        <span class="button play" id="pause" ref="Pause" v-on:click="playOrPauseTimer"></span>
        <span class="button reset" v-on:click="resetTimer" v-if="isPaused"></span>
      </div>
      
      
      <div class="volume-container">
        <input type="range" min="0" max="100" v-model="BGMVolume"
               ref="VolumeSlider"/>
        <!--
        <div class="mute-controller" 
             style="visibility: hidden;"
             v-on:click="isVolumeMute = !isVolumeMute">
          <i class="volume up icon" v-if="isVolumeMute === false"></i>
          <i class="volume off icon" v-if="isVolumeMute === true"></i>
        </div>
        <input type="range" min="0" max="100" v-model="BGMVolume"
               v-on:change="isVolumeMute = false"
               ref="VolumeSlider"/>
        <div class="mute-controller" 
             v-on:click="isVolumeMute = !isVolumeMute">
          <i class="volume up icon" v-if="isVolumeMute === false"></i>
          <i class="volume off icon" v-if="isVolumeMute === true"></i>
        </div>
        -->
      </div>
    </div>
    
  </div>
</div>