@baseZIndex: 10;

.TomatoTimer {
  position: fixed;
  bottom: 2rem;
  right: -3rem;
  z-index: @baseZIndex;
  
  line-height: 1 !important;
  
  transform: scale(0.5);
  user-select: none;
  
  //@media only screen and (max-width: 767px) {
  //  display: none;
  //}
  
  //@media only screen and (max-height: 700px) {
  //@media only screen and (max-height: 540px) {
  //  display: none;
  //}
  
  svg {
    filter: drop-shadow(3px 7px 7px #333);
  }
  
  //@import url('https://fonts.googleapis.com/css?family=Roboto:100,300');

  button[data-setter] {
    outline: none;
    background: transparent;
    border: none;
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 18px;
    width: 25px;
    height: 30px;
    color: #F7958E;
    cursor: pointer;
  }

  button[data-setter]:hover { 
    opacity: 0.5; 
  }

  /*
  .container {
    position: relative;
    top: 30px;
    width: 300px;
    margin: 0 auto;
    
  }
  */

  .setters {
    position: absolute;
    left: 60px;
    top: 40px;
    z-index: @baseZIndex + 1;
  }

  .minutes-set {
    float: left;
    margin-right: 28px;
    cursor: pointer;
  }

  .seconds-set { 
    cursor: pointer;
    float: right; 
  }

  .controlls {
    position: absolute;
    left: 45px;
    top: 65px;
    text-align: center;
  }

  .display-remain-time {
    font-family: 'Roboto';
    font-weight: 100;
    font-size: 65px;
    color: #F7958E;
    
    cursor: pointer;
    &:hover { 
      opacity: 0.8; 
    }
  }
  
  /*
  .mute-controller {
    display: inline-block;
    //font-size: 22px;
    //width: 38px;
    padding: 0;
    color: #F7958E;
    position: relative;
    top: 3px;
    cursor: pointer;
    
    i {
      font-size: 0.5em;
    }
  }
  */
  
  .mute-controller {
    display: inline-block;
    font-size: 22px;
    width: 38px;
    padding: 0;
    color: #F7958E;
    //position: static;
    //top: 7px;
    cursor: pointer;
    
    position: relative;
    top: -15px;
  }

  #pause,
  .reset {
    outline: none;
    background: transparent;
    border: none;
    //margin-top: 10px;
    width: 33px;
    height: 50px;
    //position: relative;
    cursor: pointer;
    padding: 0;
    display: inline-block;
  }
  
  .controller {
    //border: 1px solid red;
  }

  .play::before {
    display: block;
    content: "";
    position: static;
    top: 8px;
    left: 0px;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 22px solid #F7958E;
    
    cursor: pointer;
  }
  
  .reset::before {
    display: block;
    content: "";
    position: static;
    top: 8px;
    //left: 16px;
    left: 0px;
    border: 15px solid #F7958E;
    
    cursor: pointer;
  }

  .pause::after {
    content: "";
    position: static;
    top: 8px;
    //left: 12px;
    left: 0px;
    width: 15px;
    height: 30px;
    background-color: transparent;
    border-radius: 1px;
    border: 5px solid #F7958E;
    border-top: none;
    border-bottom: none;
    
    cursor: pointer;
  }

  #pause:hover { opacity: 0.8; }

  .e-c-base {
    //fill: none;
    fill: white;
    stroke: #B6B6B6;
    stroke-width: 4px;
    
    //&.is-playing {
      //fill: #FFDBD6;
      //fill: #ffeaa7;
    //}
  }

  .e-c-progress {
    fill: none;
    stroke: black;
    stroke-width: 4px;
    transition: stroke-dashoffset 0.7s;
    
    &.is-playing {
      stroke: #F7958E;
    }
  }

  .e-c-pointer {
    fill: #FFF;
    stroke: black;
    stroke-width: 2px;
    
    &.is-playing {
      stroke: #F7958E;
    }
  }

  #e-pointer { transition: transform 0.7s; }
  
  //h1 { margin-top:150px; text-align:center;}
  //body { background-color:#f7f7f7;}
  
  &.large {
    //background-color: red;
    transform: scale(1);
    bottom: 5rem;
    right: 3rem;
  }
  
  &.larger {
    //background-color: red;
    transform: scale(1.5);
    bottom: 9rem;
    right: 5rem;
  }
}
