<div class="ui segment"
     ref="main">
  <h2 id="StyleConfig">
    {{ $t('Style') }}
  </h2>

  <div class="inline field">
    <div class="ui checkbox">
      <input 
        type="checkbox" 
        tabindex="0" 
        id="configEnableSound"
        class="hidden"
        v-model="syncConfig.enableSound" />
      <label for="configEnableSound">
        {{ $t('Enable Sound') }}
      </label>
    </div>
  </div>
  <div class="inline field hidden-in-small-screen">
    <div class="ui checkbox">
      <input 
        type="checkbox" 
        tabindex="0" 
        id="configEnableTomatoTimer"
        class="hidden"
        v-model="syncConfig.enableTomatoTimer" />
      <label for="configEnableTomatoTimer">
        {{ $t('Enable Tomato Timer') }}
      </label>
    </div>
  </div>
  
  <div class="inline field hidden-in-small-screen"
       v-if="syncConfig.enableTomatoTimer">
    <label>{{ $t('Tomato Timer Default Seconds') }}</label>
    <input type="number" step="10" v-model="syncConfig.tomatoTimerSeconds" min="0">
  </div>
  
  <div class="field">
    <label>
      {{ $t('Music URL (YouTube)') }}
    </label>
    <input 
      type="url"
      v-model="syncConfig.musicURL"
      placeholder="https://www.youtube.com/watch?v=..." />
  </div>
  
  <div class="field">
    <label for="configCustomStyle">
      {{ $t('Custom Style') }}
    </label>
    <textarea id="configCustomStyle" 
      v-model="syncConfig.customStyle"
      ></textarea>
  </div>
</div>