<div class="ui segment"
     ref="main">
  <h2 id="StyleConfig">
    {{ $t('Style') }}
  </h2>

  <div class="inline field">
    <div class="ui checkbox">
      <input 
        type="checkbox" 
        tabindex="0" 
        id="configEnableSound"
        class="hidden"
        v-model="syncConfig.enableSound" />
      <label for="configEnableSound">
        {{ $t('Enable Sound') }}
      </label>
    </div>
  </div>
  <div class="field">
    <label for="configCustomStyle">
      {{ $t('Custom Style') }}
    </label>
    <textarea id="configCustomStyle" 
      v-model="syncConfig.customStyle"
      ></textarea>
  </div>
</div>