.editor-container {
  height: calc(100vh - 2rem);
}

.editor-container ::v-deep {
  .note-editable {
    height: calc(100vh - 2rem);
    max-height: calc(100vh - 2rem);
  }
  
  .note-editable, .note-placeholder {
    font-size: 2rem;
    line-height: 2.5rem;
    
    * {
      //margin-top: 0.5rem;
      //margin-bottom: 0.5rem;
    }
    ul, ol, li {
      //color: red;
      //line-height: 2rem;
      margin-left: 1rem; 
      padding-left: 0rem;
      margin-top: 0rem;
      margin-bottom: 0rem;
    }
    
    li {
      margin-top: 0rem;
      margin-bottom: 0rem;
      padding-top: 0rem;
      padding-bottom: 0rem;
    }
  }
}