.editor-container {
  height: calc(100vh - 50px);
}

.editor-container ::v-deep .note-editable {
  height: calc(100vh - 50px);
  max-height: calc(100vh - 50px);
  ul, ol, li {
    //color: red;
    //line-height: 2rem;
    margin-left: 0.5rem; 
    padding-left: 0.1rem;

    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
}