<div class="ui modal" ref="modal">
  <div class="header">
    {{ $t('Configuration') }}
    ({{ $t('version') }}: {{ config.version }})
  </div>
  <div class="content config-modal-content">
    <table-of-contents 
      v-bind:config="config"
      headings="h2"
      contentSelector=".config-modal-content"
      top="5rem"
      width="10rem"
      ref='toc'>
    </table-of-contents>
    
    <form class="ui form">
        
      <timer-config 
        ref="TimerConfig"
        v-bind:config="config"
        v-bind:utils="utils"
        v-bind:clientConfig="clientConfig"
        v-bind:syncConfig="syncConfig">
      </timer-config>
      
      <style-config 
        v-bind:config="config"
        v-bind:utils="utils"
        v-bind:clientConfig="clientConfig"
        v-bind:syncConfig="syncConfig">
      </style-config>
      
      
      <sync-config 
        v-bind:config="config"
        v-bind:utils="utils"
        v-bind:clientConfig="clientConfig"
        v-bind:syncConfig="syncConfig">
      </sync-config>
        
      <author 
        v-bind:config="config"
        v-bind:utils="utils"
        v-bind:clientConfig="clientConfig"
        v-bind:syncConfig="syncConfig">
      </author>
    </form>
  </div>
  <div class="actions">
    <div class="ui button"
         v-on:click="hide">
        {{ $t('Close') }}
    </div>
  </div>
</div>