
.handle {
  cursor: pointer;
  user-select: none;
}

.playlist-item {
  user-select: none;
}

.playlist {
  max-height: 10rem;
  overflow-y: auto;
  overflow-x: hidden;
  margin-bottom: 0.5rem;
}

.link-item {
  display: none !important; 
}

@media only screen and (max-width: 480px) {
  .item-url,
  .set-play,
  .remove-item,
  .handle,
  .add-item {
    display: none !important;
  }
  
  .playlist-item:not(.playable) {
    display: none !important;
  }
  
  .link-item {
    display: inline-block !important; 
  }
}