<div class="MusicPlaylist">
  
  <div class="field">
    <div class="ui fluid input">
      <input type="text" 
             v-model="searchKeyword"
             v-bind:placeholder="$t('Search...')">
    </div>
  </div>
  
  <draggable 
    v-model="syncConfig.musicPlaylist"
    handle=".handle">
    <transition-group>
        <div v-for="(item, i) in syncConfig.musicPlaylist" 
             v-bind:key="'mustic-playlist-' + i"
             v-show="isMatchSearchKeyword(item.title)"
             class="inline fields">
          <div class="six wide field">
            <input 
              type="text"
              v-model="item.title"
              v-bind:placeholder="$t('Music title...')">
          </div>
          <div class="ten wide field">

            <div class="ui action input">
              <input 
                type="url" 
                v-model="item.url"
                v-bind:placeholder="$t('URL...')">
              <button 
                class="ui button"
                v-on:click="setItem(item.url)">
                <i class="play circle icon"></i>
              </button>
              <button 
                class="ui button"
                v-on:click="removeItem(i)">
                <i class="times icon"></i>
              </button>
              <button class="ui button handler">
                <i class="bars icon"></i>
              </button>
            </div>
          </div>
        </div>
    </transition-group>
</draggable>
  
  
  
</div>