<div class="MusicPlaylist">

  <div class="field">
    <div class="ui fluid input">
      <input type="text" 
             v-model="searchKeyword"
             v-bind:placeholder="$t('Search...')">
    </div>
  </div>

  <draggable 
    v-model="syncConfig.musicPlaylist"
    handle=".handle">
    <transition-group>
      <div v-for="(item, i) in syncConfig.musicPlaylist" 
           v-bind:key="'mustic-playlist-' + i"
           v-show="isMatchSearchKeyword(item.title)"
           v-bind:class="{playing: isMatchPlayingURL(item.url)}"
           class="inline fields playlist-item">
        <div class="six wide field">
          <i class="bars handle icon"></i>
          <input 
            type="text"
            v-model="item.title"
            v-on:change="onMusicPlaylistChange"
            v-bind:placeholder="$t('Music title...')">
        </div>
        <div class="ten wide field">

          <div class="ui action input">
            <input 
              type="url" 
              v-model="item.url"
              v-bind:placeholder="$t('URL...')">
            <button 
              type="button"
              class="ui button set-play"
              v-on:click="setPlay(item.url)"
              v-bind:class="{green: isMatchPlayingURL(item.url)}"
              v-bind:disabled="isMatchPlayingURL(item.url)">
              <i class="play circle icon"></i>
            </button>
            <button 
              type="button"
              class="ui button"
              v-on:click="removeItem(i)">
              <i class="times icon"></i>
            </button>
          </div>
        </div>
      </div>
    </transition-group>
  </draggable>
</div>