@toolbarHeight: 5rem;
@styleEdtiableHeight: calc(var(--vh, 1vh) * 100 - (@toolbarHeight * 1.5));
@pinBarHeight: 2rem;

.non-invasive-web-style-framework .editor-container ::v-deep .summernote.note-editor {
    
    .note-editing-area {
      .note-editable {
        padding-top: 1rem; 
        max-height: calc(100vh - @toolbarHeight - @pinBarHeight) !important;
      }
    }
  }

//@media only screen and (min-width: 992px) and (min-height: 700px) {
@media only screen and (min-width: 992px) and (min-height: 520px) {
  .non-invasive-web-style-framework .editor-container ::v-deep .summernote.note-editor {
    height: calc(100vh);
    
    .note-pin {
      // width: calc(100% - 2rem);
      width: 100%;
      left: 0;
      padding-left: calc(1.5rem + 1px);
      
      &> .handler {
        right: 1rem;
      }
    }
    
    .note-editable {
      //max-height: calc(100% - 1rem);
      max-height: calc(100vh - 10rem) !important;
      padding-right: 1.5rem;
    }

    .note-editing-area {
      height: @styleEdtiableHeight;
      max-height: @styleEdtiableHeight;

      margin: 0;
      position: absolute;
      top: 55%;
      left: 50%;
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, calc(-50% - (@toolbarHeight / 2)));

      padding: 1rem;

      width: calc(100vw - 5rem);
      max-width: 767px;
      background-color: white;

      border: 1px solid #CCC;

      box-shadow: 0.2rem 0.2rem 0.1rem rgba(0,0,0,0.7);
      
      .note-editable,
      .note-placeholder {
        //max-height: calc(100% - 1rem);
        margin-top: @pinBarHeight;
        max-height: calc(100vh - (@toolbarHeight * 2) - @pinBarHeight) !important;
      }
    }
  }
}


