<div class="editor-container">
  <div class="loading-overlay"
       v-bind:class="{loading: loading}"
       ></div>
  <div ref="editor"></div>
  <config-modal 
    ref="ConfigModal"
    v-bind:config="config"
    v-bind:utils="utils"
    v-bind:syncConfig="syncConfig"
    v-bind:clientConfig="clientConfig"
    ></config-modal>
  <tomato-timer
    ref="TomatoTimer"
    v-if="syncConfig.enableTomatoTimer"
    v-bind:defaultSeconds="1500"
    v-bind:config="config"
    v-bind:utils="utils"
    v-bind:syncConfig="syncConfig"
    v-bind:clientConfig="clientConfig"
    ></tomato-timer>
</div>
  