<div class="editor-container">
  <exit-blocker 
    class="exit-blocker"
    v-on:click="syncNow"
    v-if="isBlockExit"
    v-bind:title="$t('Click to sync now')"></exit-blocker>
  <div class="loading-overlay"v-bind:class="{loading: loading }"></div>
  <i class="unlink icon disconnected-state" v-if="(config.saveToCloud === false)" />
  <div ref="editor"></div>
  <config-modal 
    ref="ConfigModal"
    v-bind:config="config"
    v-bind:utils="utils"
    v-bind:syncConfig="syncConfig"
    v-bind:clientConfig="clientConfig"
    ></config-modal>
  <tomato-timer
    ref="TomatoTimer"
    v-if="syncConfig.enableTomatoTimer && inited"
    v-bind:toastr="toastr"
    v-bind:config="config"
    v-bind:utils="utils"
    v-bind:syncConfig="syncConfig"
    v-bind:clientConfig="clientConfig"
    v-on:timeout="onTomatoTimerTimeour"
    ></tomato-timer>
</div>
  